@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-primary {
    @apply bg-[#25D366] text-white px-6 py-3 rounded-xl font-bold shadow-xl hover:bg-green-600 transition-all active:scale-95 flex items-center gap-2;
  }
}